SELECT count(*)
  FROM [PRAXIS_DEV].[Bellevue].[LegalEntity]

SELECT count(*)
  FROM [PRAXIS_DEV].[Bellevue].[Business]
  
SELECT count(*)
  FROM [PRAXIS_DEV].[Bellevue].[License]
  
SELECT count(*)
  FROM [PRAXIS_DEV].[Bellevue].[LicenseApproval]
  
SELECT count(*)
  FROM [PRAXIS_DEV].[dbo].[Exception]
  
  SELECT *
  FROM [PRAXIS_DEV].[dbo].[Exception]

SELECT count(*)
  FROM [PRAXIS_DEV].[dbo].[GarbageCollector]
  
  SELECT *
  FROM [PRAXIS_DEV].[Bellevue].[Business]
where registrationNumber is not null