/****** Script for SelectTopNRows command from SSMS  ******/
SELECT '"' + CONVERT(NVARCHAR,[BusinessId]) + '"' AS BusinessId
      ,'"' + [BusinessName] + '"' AS [BusinessName]
      ,'"' + [LegalEntityName] + '"' AS [LegalEntityName]
      ,'"' + [Dba] + '"' AS [Dba]
      ,'"' + [Ubi] + '"' AS [Ubi]
      ,'"' + [Naic] + '"' AS [Naic]
      ,'"' + [LegalEntityType] + '"' AS [LegalEntityType]
      ,'"' + [FirstActivityDate] + '"' AS [FirstActivityDate]
      ,'"' + [CancelDate] + '"' AS [CancelDate]
      ,'"' + [MailingAddressLine1] + '"' AS [MailingAddressLine1]
      ,'"' + [MailingAddressLine2] + '"' AS [MailingAddressLine2]
      ,'"' + [MailingCity] + '"' AS [MailingCity]
      ,'"' + [MailingState] + '"' AS [MailingState]
      ,'"' + [MailingPostalCode] + '"' AS [MailingPostalCode]
      ,'"' + [MailingZip4] + '"' AS [MailingZip4]
      ,'"' + [PhysicalAddressLine1] + '"' AS [PhysicalAddressLine1]
      ,'"' + [PhysicalAddressLine2] + '"' AS [PhysicalAddressLine2]
      ,'"' + [PhysicalCity] + '"' AS [PhysicalCity]
      ,'"' + [PhysicalState] + '"' AS [PhysicalState]
      ,'"' + [PhysicalPostalCode] + '"' AS [PhysicalPostalCode]
      ,'"' + [PhysicalZip4] + '"' AS [PhysicalZip4]
      ,'"' + [ProductsAndServices] + '"' AS [ProductsAndServices]
  FROM [PRAXIS_PROD].[Warehouse].[BusinessFact]